{% extends 'app/base.html' %}

{% block content %}
  <div class="container">
    <h1 class="title">List of Jokes</h1>
    <ul class="joke-list">
      {% for joke in jokes %}
        <li class="joke-item {% if highlight == joke.id %}highlighted{% endif %}">
          <div class="joke-text">{{ joke.text }}</div>
          <div class="joke-meta">{{ joke.author }}</div>
          <div class="joke-share">
            <a href="{% url 'app:get_user_entry' id=joke.id %}" target="_blank">Share</a>
          </div>
        </li>
      {% empty %}
        <li>No jokes yet</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
