{%extends "base.html"%}
{%block title%}Home{%endblock%}

{%block content%}
    <h2>Home</h1>
    <p>You can access a single post by navigation to entry/id:int</p>
    <p>Here are the existing posts:</p>
    
    <ul>
        {%for post in posts%}
            {%if forloop.counter == 1%}
                <li class="lastPost">{{post.author}} : {{post.body}} (post id: {{post.id}})</li>
            {%else%}
                <li>{{post.author}} : {{post.body}} (post id: {{post.id}})</li>
            {%endif%}
        {%endfor%}
    </ul>
{%endblock%}

{%block head%}
<style>
h2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }
    .lastPost {
        background-color: yellow;
        border: 1px solid #e3e3e3;
        border-radius: 3px;
        padding: 10px;
    }
</style>
{%endblock%}