<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="movies-container">
        <h1>Movies</h1>
        {% for movie in movies %}
            <div class="movie">
                <h2><a href="{% url 'movie' movie.id %}">{{ movie.title }}</a></h2>
                <p>Average Rating: {{ movie.average_rating|floatformat:1 }} stars</p>
                <p>Number of Ratings: {{ movie.ratings_count }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>
